#icon-container{
    display: flex;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#square-button{
    color:white;
    font-size: x-small;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:5px;
    z-index: 2;
}

#square-button:hover{
    cursor: pointer;
    background-color: teal;
}

.selected{
    background-color: teal;
}